body, .wrapper {
    min-height: 100vh;
    position: relative;
}

.wrapper {
    position: relative;
    height: 100vh;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-color: #306fb9;
    background-size: cover;
    background-position: center center;
}

.sidebar .logo, .sidebar .profile {
    padding: 15px 15px 15px 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 4;
}
.sidebar .house {    
    padding: 5px 15px 15px 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    height: calc(100vh - 360px);
    z-index: 4;
    overflow-y: scroll;
}

.sidebar .logo img{
    width: 100%;
}

.profile .img {
    width: 110px;   
    height: 110px;
    background: gray;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}

ul,li{
    list-style: none;
}



.sidebar, .main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}
.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
}

.main-panel>.content {
    padding: 15px 15px;
    min-height: calc(100%);
}

.content .card {
    height: calc(100vh - 30px);
    background-color: #306fb9;
    padding: 10px;
}

.card .relay{
    height: 100px!important;
    
}

.content .card .btn {
    padding-right: 10px;
    background: #9e9e9e;
    border: none;
    position: relative;
    top: 10px;
    border-radius: 20px 20px 0px 0px;
    z-index: 0;
}
.btn.active {
    background: white!important;
}

.card-header {
    padding: 0px;
}

.card-body {
    background-color: white;
    z-index: 2;
}


