
body{
  height: calc(100vh - 60px);
}

.ui.vertical.menu.sidebar-menu{
    overflow-y: visible!important;
    max-height: calc(100%)!important;
}

i#add-house {
    float: right;
    font-size: 20px;
}
.house-setting{
  float: right;
}
.house-room {
  padding-left: 20px!important;
}

.item.divider::before {
    margin-top: 20px; 
}

.main-content{
  margin: 50px 10px 10px 10px;
  
}

/* relay */
.relay {
  height: 150px;
  margin: -14px;
  text-align: center;
}

.relay i {
  font-size: 25vh;
  transform: translate(0%,50%);
}

.relay.on i{
  color: red;
}

.relay.on:hover i{
  color: green;
}
/* relay end */

/* Login Form */
.login-box{
  z-index: 9999;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg,#9fbaa8,#41454c);
  transition: 0.6s;
}

.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}

.login-form h1{
  font-weight: 400;
  margin-top: 0;
}

.txtb{
  display: block;
  box-sizing: border-box;
  width: 300px;
  background: #ffffff28;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  outline: none;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
}

.login-btn{
  width: 300px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.hide-btn{
  color:#000;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size:24px;
  opacity: 0.7;
}

.showed{
   left: 0;
}

/* Login Form end */


@media (min-width:767px){ 

  /* Navbar */
  .ui.menu{
    background-image: linear-gradient(45deg,#9fbaa8,#41454c);
    color: white!important;
  }
  /* End Navbar */

  /* Team Section */
  .team-section{
    overflow: hidden;
    text-align: center;
    background-image: url('../img/header-bg.jpg');
    background-size: 100% 100%;
    padding: 60px;
  }
  .team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
  }
  .border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
  }
  .ps{
    margin-bottom: 40px;
  }
  .ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
  }
  .ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;    
  }
  .ps a:hover > img{
    filter: none;
  }

  .section{
    width:600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
  }
  .section:target{
    height: auto; 
  }
  .name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }
/* Team Section End */














  /* End Team Section */

  body{
    height: calc(100vh - 60px);
  }

  .ui.vertical.menu.sidebar-menu{
    visibility: visible;
    transform: translate3d(0,0,0);
  }

  .sidebar-menu-toggler {
      display: none!important;
  }

  .main-content{
  margin: 60px 10px 0px 16em;
  }

  

}

/*// Semantic UI has these classes, however they're only applicable to
// grids, containers, rows and columns.
// plus, there isn't any `mobile hidden`, `X hidden` class.
// this snippet is using the same class names and same approach
// plus a bit more but to all elements.
//
// see https://github.com/Semantic-Org/Semantic-UI/issues/1114*/

/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
  }
  
  /* Tablet / iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
      display: none !important;
    }
  }
  
  /* Computer / Desktop / iPad Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Large Monitor */
  @media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Widescreen Monitor */
  @media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
      display: none !important;
    }
  }
